<title>GroupFinder</title>
<body>
	<div class="home-page jumbotron">
		<h2>Come hither my minions</h2>
		<h1>Find them before they find you</h1>
	</div>

	<div class="container-fluid">
		<div class="home-page question col-sm-12">
			<h1>Which door do you enter first?</h1>
		</div>
		<div class="col-sm-12 list-group">
			<a ui-sref="people" class="home-page white list-group-item">People</a>
			<a ui-sref="groups" class="home-page white list-group-item">Groups</a>
			<a ui-sref="interests" class="home-page white list-group-item">Interests</a>
			<a ui-sref="cities" class="home-page white list-group-item">Cities</a>
			<a ui-sref="states" class="home-page white list-group-item">States</a>
		</div>
	</div>
</body>